// Colors
$white: #ffffff;
$white-030: rgba(255, 255, 255, 0.3);

$cerebral-grey: #cccccc;
$squant: #666666;
$bleached-silk: #f2f2f2;
$lacquered-licorice: #383838;
$porpoise: #dadada;
$black: #000000;
$jamaican-jade: #63d2c1;
$capture: #33b5a3;
$hot-embers: #f9572e;
$melon: #ff7b59;

//fonts

$basic-font-title: "MullerMedium", "Arial", sans-serif;
$basic-font-text: "MullerRegular", "Arial", sans-serif;
// Viewports

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1880px;
