.header {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: $white;
    font-family: $basic-font-text;
    font-size: 15px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1840px;
    margin-left: 90px;
    margin-right: 90px;
}

.header__logo-link {
    z-index: 5;
}

.header__logo-image {
    margin-top: 28px;
    width: 200px;
    height: 55px;
}

.header__contacts-link {
    margin: 0;
    margin-top: 41px;

    padding: 0;
    padding-left: 33px;
    font-size: 21px;
    line-height: 30px;
    text-decoration: none;
    color: $black;
    z-index: 100;
    position: relative;

    &:hover {
        color: $hot-embers;
    }

    &::before {
        content: "";
        position: absolute;
        background-image: url("../img/icon-phone.svg");
        background-repeat: no-repeat;
        background-size: 24px 24px;
        width: 24px;
        height: 24px;
        top: 3px;
        left: 0px;
    }
}

.promotion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-top: -88px;
    max-width: 1840px;
}

.promotion__wrapper {
    margin: 0;
    padding: 0;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.promotion__link-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.promotion__title {
    margin: 0;
    padding-top: 224px;
    font-family: $basic-font-title;
    font-size: 64px;
    line-height: 64px;
}

.promotion__decription {
    margin: 0;
    padding: 27px 0 44px 0;
    max-width: 350px;
    font-size: 21px;
    line-height: 30px;
    display: block;
}

.promotion__link-description {
    margin-left: 30px;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: $squant;
}
.promotion__scrooler {
    margin-left: 58px;
    margin-top: auto;
    margin-bottom: 24px;

    display: block;
    text-decoration: none;
    color: $hot-embers;
    font-size: 16px;
    line-height: 18px;

    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-image: url("../img/icon-arrows.svg");
        background-repeat: no-repeat;
        background-size: 41px 30px;
        width: 41px;
        height: 30px;
        left: -50px;
        top: 3px;
    }

    &:hover::before {
        background-image: url("../img/icon-arrows-hover.svg");
    }
}

.promotion__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotion__image {
    width: 940px;
    height: 920px;
    position: relative;
}

.promotion__play {
    cursor: pointer;
    position: absolute;
    border: none;
    background-color: transparent;
    background-image: url("../img/icon-play.svg");
    background-repeat: no-repeat;
    background-size: 250px 250px;
    width: 250px;
    height: 250px;

    &:hover {
        background-image: url("../img/icon-play-hover.svg");
    }
}
